@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Outfit&display=swap');
/* font-family: 'Bungee Spice', cursive;
font-family: 'Outfit', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Bungee+Inline&display=swap');
/* font-family: 'Bungee Hairline', cursive;
font-family: 'Bungee Inline',cursive; */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swap');

/* font-family: 'Barlow',sans-serif; */
body {
  margin: 0;
}

* {
  font-family: 'Outfit', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.bgBack1 {
  background-image: url('./assets/landscapes/cropped/1.jpg');
  background-size: cover;
  background-position: 40% 35%;
}

.bgBack2 {
  background-image: url('./assets/landscapes/cropped/2.jpg');
  background-size: cover;
  background-position: 40% 35%;
}

.bgBack3 {
  background-image: url('./assets/landscapes/cropped/3.jpg');
  background-size: cover;
  background-position: 40% 35%;
}

.bgBack4 {
  background-image: url('./assets/landscapes/cropped/4.jpg');
  background-size: cover;
  background-position: 40% 35%;
}

.bgBack5 {
  background-image: url('./assets/landscapes/cropped/5.jpg');
  background-size: cover;
  background-position: 40% 35%;
}

.bgBack6 {
  background-image: url('./assets/landscapes/cropped/6.jpg');
  background-size: cover;
  background-position: 40% 35%;
}

.bgBack7 {
  background-image: url('./assets/landscapes/cropped/7.jpg');
  background-size: cover;
  background-position: 40% 35%;
}

.homeBg {
  background-image: url('./assets/bg.jpg');
  background-size: cover;
}

.alignY {
  top: 50%;
  transform: translate(0, -50%);
}

.alignX {
  left: 50%;
  transform: translate(-50%);
}

.align {
  margin-top: 50%;
  margin-left: 50%;
  transform: translate(-50%);
}